@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&family=Lato:wght@300;400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka',sans-serif;
    background-color: #a191b1;
    opacity: 0.8;
    background-image:  radial-gradient(#faf5f5 0.5px, transparent 0.5px), radial-gradient(#faf5f5 0.5px, #a191b1 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    display: flex;
    min-height: 100vh;
}

.form{
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(188, 143, 143, 0.301);
    text-align: center;
}

.form__tittle{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form__paragraph{
    font-weight: 300;
}

.form__link{
    font-weight: 400;
    color: black;
}

.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: rgb(61, 31, 61);
}

.form__input{
    width: 100%;
    background: none;
    color: #a191b1;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Fredoka',sans-serif;
}

.form__input:focus + .form__label, .form__input:placeholder-shown + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translate(10px);
    transition: transform .5s, color .3s;

}

.form__submit{
    background: #3866f2;
    color: white;
    font-family: 'Fredoka',sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;

}

.form__input:focus ~ .form__label, .form__input:placeholder-shown + .form__label{

    transform: scale(1);
}

