*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero__tittle{
    font-size: 3rem;
}

.hero__picture{
    margin-bottom: 1em;
}

.hero__img{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.hero__text{
    flex-basis: 50% ;
}

.hero__paragraph{
    line-height: 1.5;
    font-weight: 300;
    padding: .7em 0;
}

.hero__cta{
    display: inline-block;
    background: steelblue;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

@media screen and (min-width:850px) {
    .hero{
        flex-direction: row;
        align-items: center;
    }
    .hero__tittle{
        font-size: 4rem;
    }
    .hero__picture{
        flex-grow: 1;
        order:1;
    }
    .hero__img{
        max-width: none;
    }

}