*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
/* inline block inline-block none */

/* .enlaces{
    display: inline-block;
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 15px 10px;
} */

.header{
height: 400px;
background: crimson;
color: white;
}